.key {
    -fx-background-color: #96C0CE;
    -fx-background-radius: 5;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.key:hover, .key.selected {
    -fx-border-color: #C25B56;
    -fx-effect: dropshadow(three-pass-box, #BEB9B5, 10, 0, 0, 0);
}

.key.selected {
    -fx-border-width: 2;
}